@import "../../../styles/index.scss";

.interior-section {
  padding: 50px 0;
  .interior-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    .card {
      padding: 10px;
      border: 1px solid var(--theme-white-background);
      border-radius: 10px;
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      transition: 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 1px 10px 1px rgba(82, 11, 11, 0.5);
      }
      .card-img {
        width: 250px;
        height: 250px;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
      .card-detailes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: var(--theme-black-background);
        color: var(--theme-white-background);
        border-radius: 8px;
        padding: 10px;
        .card-title {
          p {
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            overflow: hidden;
          }
        }
        .product-price {
          p {
            color: var(--theme-light-cyan-text);
          }
        }
        .product-buy {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          button {
            display: block;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 10px;
            border: none;
            background-color: var(--theme-light-cyan-text);
            transition: 0.3s ease-in-out;
            &:hover {
              background-color: var(--theme-danger-background);
              color: var(--theme-light-cyan-text);
            }
          }
          .wishlist {
            cursor: pointer;
            .addToWishlist {
              display: block;
              width: 21px;
              height: 21px;
            }
          }
        }
      }
    }
  }
}

