@import "../../../styles/index.scss";


.categories-sec{
    padding: 20px 0;
}
.back-btn {
    button {

        padding: 10px 20px;
        font-size: 18px;
        color: var(--theme-yellow-background);
        border: none;
        background-color: var(--theme-black-text);
        border-radius: 5px;
        cursor: pointer;
    }

    //   transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    //   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.categories-detailes-main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;

    .categories-detailes-img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .categories-info {
        h2 {
            font-size: 45px;
            line-height: 46px;
        }

        .categories-detailes {
            p {
                font-size: 25px;
                line-height: 33px;
            }
        }

        p {
            font-size: 20px;
        }

        .categories-detailes-btn {
            button {
                padding: 5px 15px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}